html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.main {
    min-height: 100%;
    background-color: black;
    color: whitesmoke;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.contactmebottombtn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 100%;
    text-shadow: 0 0 5px black, 0 0 10px black;
    border: 2px solid black;
    box-shadow: 0 0 30px black;
    box-shadow: inset 0px 0px 20px black;
    background: linear-gradient(to bottom right, #5aacf0, rgb(11, 190, 190), rgb(0, 100, 100));
    color: whitesmoke;
    padding: 15px;
    font-size: 1.5em;
    height: 100px;
    width: fit-content;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    
}
.contactmebottombtn:hover {
    background: linear-gradient(to bottom right, #579bd3, rgb(0, 164, 164), #579bd3);
    cursor: pointer;
    transition: ease 0.4s;
    transform: scale(1.05);
}
.topbuttons {
    height: 100px;
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    background-color: #101116;
    justify-content: flex-start;
}
.topbuttons > a {
    width: 185px;
    font-size: 1em;
    color: whitesmoke;
    background-color: transparent;
    padding: 5px;
    border: none;
    border-right: 3px solid teal;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 10px black;
    
}
.topbuttons > a:nth-child(4){
    border-right: none;

}
.differentcontactbutton {
    width: fit-content;
    height: fit-content;

}
.differentcontactbutton > img {
    background-position: center;
    background-size: cover;
    padding-right: 0px;
    width: auto;
    height: 150px;
    margin-top: 70%;
}
.differentcontactbutton > img:hover {
    transform: scale(1.05);
    z-index: 0;
}
.right {
    margin-left: auto;
    margin-right: 3%;
}
.topbuttons > a:hover {
    transition: ease 0.4s;
    transform: scale(1.05);
    color: rgb(11, 255, 255);
}
.topwordsborder {
    background: linear-gradient(to right, teal, tan);
    width: fit-content;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 1rem;
}
.topwords {
    width: fit-content;
    height: auto;
    text-align: center;
    margin: auto;
    background-color: black;
    padding: 1rem;
}
.topwords > em {
    font-size: 1.75em;
    margin: 0px;
}
.topwords > h1 {
    font-size: 4.5em;
    margin: 0px;
}

img {
    box-sizing: border-box;
    width: 50%;
    text-align: right;
    height: auto;
    border: 50px solid #101116;
    border-top: none;
    margin-bottom: 100px;
    z-index: 1;
}


.title {
    box-sizing: border-box;
    width: 100%;
    font-size: 4em;
    margin: 8% 35% 5% 35%;
    text-align: center;
    padding: 50px 25px 50px 25px;
    border-radius: 50px;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 10px black;
    border: 5px solid black;
    box-shadow: 0 0 30px black;
    box-shadow: inset 0px 0px 20px black;
    background: linear-gradient(to bottom right, rgb(6, 244, 244), teal, rgb(2, 37, 37));
}
.projectscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 375px;
    background-color: #101116;
    z-index: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 600px;
    overscroll-behavior-inline: contain;
    overflow-x: auto;
    margin-top: 5px;
}
.projectscontainerboarder {
    height: 385px;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(6, 244, 244), teal, rgb(2, 37, 37));
    animation: glowing 20s linear infinite;
}
.project {
    height: 250px;
    width: 450px;
    margin: 50px;
    font-size: 50px;
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 0 20px black;
    cursor: pointer;
    position: relative;
}
.project:hover {
    transform: scale(1.05);
    transition: ease .4s;
}
.project:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.project:hover:before {
    opacity: 1;
}

.project:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
a > div > button {
    width: 103%;
    translate: -1%;
    box-sizing: border-box;
    background-color: #101116;
    padding: 15px 10px;
    color: whitesmoke;
    z-index: 10;
    font-size: .5em;
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 20px black inset;

}

.ecom {
    background-image: url('./portfolio_photos/ecomlogin.png');
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-size:cover;
    background-position: center;
}
.cards {
    background-image: url('./portfolio_photos/cardsback.png');
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}
.rps {
    background-image: url('./portfolio_photos/rps.jfif');
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}
.tbag {
    background-image: url('./portfolio_photos/woods.jfif');
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #101116;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color:black;
    border: 1px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  /* Buttons */
::-webkit-scrollbar-button:single-button {
    display: none;
  }


.aboutme {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.aboutme > img {
    width: 40%;
    max-height: auto;
    border: 50px solid #101116;
}
.overview {
    text-align: center;
    font-size: 20px;
    padding: 5%;
    width: 50%;
    line-height: 200%;
    background: black;
}

.overview > b {
    color: rgb(5, 223, 223);
}


.challenges {
    background-color: #101116;
    width: 100%;
    text-align: center;
    font-size: 3em;

}


/*contact css */

body {
    background-color: #101116;
    position: relative;
}
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 15px solid teal;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px teal;

}
.message {
    display: flex;
    font-size: 1.5em;
    color: whitesmoke;
    width: 60%;
    justify-content: center;
    margin-top: 1%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;

}
.contact > h1 {
    color: whitesmoke;
    background-color: teal;
    margin-top: 5%;
    font-size: 3em;
    padding: 20px;
    text-shadow: 0 0 5px black, 0 0 10px black;

}
.inputfield > input {
    color: black;
    background-color: whitesmoke;
    font-size: 1.5em;
    margin: 1%;
    border-radius: 25px;
    padding: 15px;
    border: 10px solid teal;
    box-shadow: 0px 0px 30px black;
}

.biginputfield > input {
    background-color: whitesmoke;
    color: #101116;
    font-size: 1.5em;
    height: 150px;
    width: 40%;
    margin: 2%;
    border-radius: 25px;
    padding: 15px;
    border: 10px solid teal;
    box-shadow: 0px 0px 30px black;
}

.contact > form > button {
    padding: 25px 50px 25px 50px;
    border-radius: 50px;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 10px black;
    border: 5px solid black;
    box-shadow: 0 0 30px black;
    box-shadow: inset 0px 0px 20px black;
    background: linear-gradient(to bottom right, rgb(6, 244, 244), teal, rgb(2, 37, 37));
    position: relative;
    z-index: 10;
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 2%;

}
.contact > form > button:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom right, rgb(6, 244, 244), teal, rgb(3, 93, 93));
    cursor: pointer;
    transition: ease 0.4s;
}

#aboutmyprojects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background: #101116;
    padding: 25px 0px;
    border-top: 10px solid teal;
    border-bottom: 10px solid teal;
    margin-bottom: 5%;

}
#aboutmyprojects > h1 {
    font-family: 'Uncial Antiqua';
    color: #78111D;
    text-shadow: 0 0 1px #DCC099, 0 0 3px #DCC099;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 3%;
    font-size: 2em;
}
.ecomcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.about-ecom {
    width: 45%;
    order: 1;
    margin: 5%;
    text-align: center;
    line-height: 1.5em;

}
.ecomcontainer > video {
    width: 45%;
    border: 25px solid black;
    order: 2;
    background-color: black;
}
.about-ecom > a > button {
    width: 185px;
    font-size: 1em;
    color: whitesmoke;
    background-color: #78111D;
    padding: 5px;
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 10px black;
    border-radius: 10px;
    font-size: 1.25em;
}
.about-ecom > a > button:hover {
    background-color: #6a000c;
    cursor: pointer;
    transform: scale(1.05);
}


#aboutmyprojects > h1:nth-child(3) {
    color: teal;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 0%;
    font-size: 2em;
    padding: 50px 0px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
    background-color: black;
    border-top: 10px solid teal;

}
.tccontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;

}
.about-cards {
    width: 45%;
    order: 2;
    margin: 5%;
    text-align: center;
    line-height: 1.5em;

}
.tccontainer > video {
    width: 45%;
    padding: 25px;
    order: 1;
    background-color: #101116;
}
.about-cards > a > button {
    width: 185px;
    font-size: 1em;
    color: whitesmoke;
    background-color: teal;
    padding: 5px;
    border: 3px solid black;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 10px black;
    border-radius: 10px;
    font-size: 1.25em;
}
.about-cards > a > button:hover {
    background-color: rgb(5, 170, 170);
    cursor: pointer;
    transform: scale(1.05);

}