@import "https://unpkg.com/open-props";
* {
    font-family: 'Amatic SC', 'Montserrat', sans-serif;
    background-color: transparent;
    z-index: 2;
    color: #78111D;
    font-size: min(6vh,7vw);
    font-weight: 900;
}
#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }

/* for index and register pages */
.quicklogBottom {
    display: none;
}
.quicklog {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    position: absolute;
    bottom: 3%;
    right: 1%;
    width: 15%;

}
#quickButton {
    width: fit-content;
    height: fit-content;
    font-family: 'Uncial Antiqua';
    font-size: 25px;
    margin: 1em;
    height: auto;    
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
    margin-top: 0px;
}
#brand {
    position: absolute;
    top: 1%;
    bottom: auto;
    width: fit-content;
    height: fit-content;
    font-family: 'Uncial Antiqua';
    font-size: 25px;
    margin: 1em;
    height: auto;    
    color: #78111D;
    text-shadow: 0 0 1px #DCC099, 0 0 3px #DCC099;

}
#prompt {
    height: fit-content;
    font-size: 25px;
    padding: .5em;
    border-radius: 25px;
    text-align: center;
    color: white;
}
.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.container > h1 {
    color: #78111D;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
    font-family: 'Uncial Antiqua';
    font-size: 1.5em;
    margin-top: .5em;

}
.container > p {
    font-weight: 100;
    color: #ddd;
    text-shadow: 0 0 3px #4e060e, 0 0 5px #4e060e;
    font-family: 'Uncial Antiqua';
    margin: 0px;
    width: 80%;
}
.container > input {
    font-family: 'Amatic SC';
    width: 40%;
    background-color: transparent;
    background-color: rgb(232, 240, 254);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: .15em;
    padding-left: .5em;
}
.container, b {
    font-family: 'Uncial Antiqua';
    color: #78111D;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
}
.container > button {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    display: block;
    border-style: solid;
    background-color: #78111D;
    border: 3px solid #4e060e;
    border-radius: 25px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 40px;

}
.container > h5 {
    font-weight: 100;
    font-family: 'Uncial Antiqua';
    color: #ddd;
    text-shadow: 0 0 3px #4e060e, 0 0 5px #4e060e;
    font-size: 20px;
    width: 80%;
    text-align: center;
}
a {
    font-weight: 100;
    font-family: 'Uncial Antiqua';
    color: dodgerblue;
    text-shadow: none;
    font-size: 20px;
}

input:-webkit-autofill {
    border: 4px solid #555;
}

.headerBG {
    background-image: URL("..\\images\\forge.webp");
    z-index: -1;
}
.topScroll {
    background-image: URL("..\\images\\header_scroll-removebg-preview 450x.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 450px;
  }
.h1 {
    position: relative;
    padding: 15px;
    color: #78111D;
    font-size: 70px;
    top: -15px;
    margin-bottom: 0%;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
}
.cart-total {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 275px;
    height: 90px;
    min-width: fit-content;
    z-index: 10000;
    background-image: URL("..\\images\\left_right_scroll-removebg-preview.png");
    background-repeat: no-repeat;
    line-height: 2.5;
    transform: scale(1.5);
}
h2, h3 {
    font-size: 22px;
    text-align: center;
}
h5 {
    font-size: 45px;
    color:#FBF6F0;
    font-weight: bolder;
    margin:.25em;
}
h4 {
    font-size: 70px;
    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
}
h6 {
    color: #FBF6F0;
    font-size: 35px;
    margin: .15px;
}
p {
    text-align: center;
    margin: 0px;
    font: 18px;
}
.weapons > p {
    font-size: 45px;
}
h2 {
    font-size: 1.4em;
    line-height: 2;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}
h3 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 35px;
}
.cart-total > div > p {
    font-size: 30px;
    margin-top: 10px;
}
.currency-selector > select {
    width: 100px;
    text-align: center;
    height: auto;
    border-radius: 15px;
    background-color: black;
    border: 1px solid #DCC099;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    margin-top: 15px;
    position: fixed;
    z-index: 10;
}
#checkouttitle {
    padding-top: 1em;
    padding-bottom: .25em;
    font-size: 75px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
}
#cardsTitle {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-shadow: #000 0px 8px 12px;
    font-family: 'Uncial Antiqua';
    color: #4e060e;
    text-shadow: black 0px 8px 12px;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
}
.products-container{
    max-width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2378111d' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.cart-container {
    height: fit-content;
    width:fit-content;
    max-width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2378111d' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.checkout-container {
    width: 100%;
    text-align: center;
    background-image: URL("..\\images\\checkoutscroll-removebg-900.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 900px;
    height: auto;
    font-size: 50px;
    display: flex;
    flex-direction: column;

}
.products, .cart{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    font-size: 60px;
    justify-content: space-around;
    margin-bottom: 25px;
}
.weapons {
    width: 250px;
    background-image: URL("..\\images\\scroll no bg 275x600.png");
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 15px;
    margin-bottom: 20px;
    background-position: center;
    justify-content:flex-end;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    height: 605px;
    padding: 25px;
    order: 2;
}
.snaps-inline > * {
    scroll-snap-align: auto;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  /* Buttons */
::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
    background-color: #78111D;
    border: 3px solid #4e060e;
    border-radius: 25px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
  }
.cardsContainer {
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 15px;
    margin-bottom: 20px;
    justify-content:flex-start;
    margin-right:30px;
    text-align: center;
    width: 100%;
    max-height: 60%;
    order: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 500px;
    gap: var(--size-7);
    overscroll-behavior-inline: contain;
    overflow-x: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2378111d' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.cardsContainer > div {
    height: 450px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin: 0px;
    justify-content: flex-end;
    border-radius: 15px;
    background-color: black;
    border: 1px solid #DCC099;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
}

.products > div:hover{
    cursor: pointer;
    box-shadow: #FBF6F0 0px 12px 24px;
    background-color: #FBF6F080;
}
.cardsImg:hover{
    cursor: pointer;
    box-shadow: #FBF6F0 0px 12px 24px;
    background-color: #FBF6F080;
}
.weaponsImg {
    max-width: auto;
    height: 200px;
    margin-inline: auto;
}
.cardsImg {
    max-width: auto;
    height: 90%;
    margin: 25px;
    box-shadow: #000 6px 12px 20px;
}
.cardsContainer > div > h3 {
    height: fit-content;
    width: 200px;
    margin-left: 25px;
    font-size: 30px;
    font-family: 'Uncial Antiqua';
    color: #cccccc;
}
.cardsContainer > div > p{
    margin-left: 50px;
    text-align: center;
    color:#78111D;
    font-size: 30px;
    font-family: 'Uncial Antiqua';
    width: fit-content;
    max-width: 150px;
}
.cardsContainer > div > button {
    margin-left: 30px;
    height: auto;
    width: auto;
    margin-bottom: 20%;
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
}
.cardsContainer > div > button:hover {
    background-color: #ccc;
}
.cardsContainer > div {
    margin-left: 15px;
    margin-top: 15px;
}
.products > div h3 {
    font-weight: 800;
    color: #111;
    position: relative;
}
#weaponsTitle {
    text-align: left;
    font-size: 50px;
    font-weight: 900;
    text-shadow: black 0px 8px 12px;
    font-family: 'Uncial Antiqua';
    color: #4e060e;
    text-align: center;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
    margin-top: 5%;
}
.cartBorder {
    font-family: 'Uncial Antiqua';
    padding-bottom: 5%;
    margin-top: 40px;
    font-size: 50px;
    text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
    color:#4e060e
}
.cart > div {
    border-radius: 25px;
    margin: .25em;
    padding: .5em;
    background-color: #111;
    max-width: 250px;
    max-height: auto;
    text-align: center;
    color: #78111D;
    background: #000;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
    background-image: URL("..\\images\\backpack-removebg-preview.png");
    background-repeat: no-repeat;    background-position: center;
    background-size: auto;
}
.cart > div > h6 {
    text-align: center;
    width: fit-content;
    padding: 5px;
    background-color: #11111190;
    margin: auto;
}
.checkout-container {
    z-index: 1;
}
.checkout {
    margin-bottom: 4em;
}
button {
    color: #111;
    border: 3px solid #111;
    background: #78111D;
    padding: 15px;
    transition: .2s ease all;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 15%;
    font-size: 25px;
    bottom: 15px;
    margin: 20%;
    margin-top: 5%;
    align-self: center;
    margin-bottom: 30%;
    width: 122px;
    height: 68px;
}
button.pay {
    background: #78111D;
    vertical-align: middle;
    margin: auto;
}
button:hover {
    background: #fff;
    color: #111;
    cursor: pointer;
    border: 3px solid #78111D;
}
.received {
    font-size: 1.5em;
    padding: 0.3em;
    border: 1px solid #ccc;
    vertical-align: middle
}
.swordline {
    height: 5px;
    background-image: linear-gradient(
        to right,
        transparent 10%,
        #DCC099 50%,
        transparent 90%
    );
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: 0 center;
    z-index: 100;
}
input {
    border-color: 3px solid #111;
    width: 200px;
}
button.qup {
    margin: 0px;
    padding: .5em;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
}
button.qdown {
    margin: 0px;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
}
button.remove {
    margin: .25em;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
}
.receipt {
    background-image: URL("..\\images\\left_right_scroll-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 35px;
    background-size: 400px;
}
label {
    font-size: 45px;
}
.empty-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.empty-btn > button {
    margin-bottom: 20px;
    font-size: 30px;
    width: fit-content;
    height: auto;    
    color: #78111D;
    background-color:black;
    box-shadow: black 2px 4px 6px;
    box-shadow: #DCC099 2px 2px 2px 0px inset, #4e060e 0px 0px 6px 6px inset;
    border: 1px solid #DCC099;
}
.welcome > p {
    display: none;
}
/* On screens that are 500px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .quicklog {
        display: none;
    }
    .quicklogBottom {
        display:contents;
        position: relative;
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin: auto;
    }
    .container > h5 {
        font-family: 'Amatic SC';
        height: fit-content;
        font-size: 25px;
        border-radius: 25px;
        text-align: center;
        color: white;
        text-shadow: none;
        font-weight: 700;
        line-height: 5%;
    }
    .container > h5 > a {
        font-family: 'Amatic SC';
        height: fit-content;
        font-size: 25px;
        border-radius: 25px;
        text-align: center;
        font-weight: 700;

    }
    .headerBG {
        height: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .topScroll {
        position: relative;
        background-image: none;
        background-color: #00000095;
        z-index: 1;
      }
    .welcome > p {
        display:contents;
        display: flex;
        justify-content: center;
        color: #000;
        text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
        font-size: 40px;
        font-family: 'Uncial Antiqua';
        margin-top: 50%;
    }
    .h1 {
        padding: 15px;
        color: #78111D;
        text-shadow: 0 0 3px #DCC099, 0 0 5px #DCC099;
        font-size: 60px;
        font-family: 'Uncial Antiqua';
        margin-top: 5%;
        animation: fadeIn 7s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
    @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    
    @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    
    @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    #cardsTitle {
        margin-top: 10%;
        max-width: 90%;
        font-size: 35px;
    }
    .cardsContainer {
        grid-auto-columns: 400px;
        gap: var(--size-5);
    }
    .cardsContainer > div {
        height: 350px;
        width: 400px;
    }
    .cardsImg {
        max-width: auto;
        height: 85%;
        margin: 20px;
    }
    .cardsContainer > div > h3 {
        width: 150px;
        font-size: 25px;
        margin-left: 0px;
    }
    .cardsContainer > div > p{
        margin-left: 0px;
        font-size: 28px;
        width: 150px;
    }
    .cardsContainer > div > button {
        margin-left: 0%;
        margin-bottom: 10%;
    }
    .cardsContainer > div > button:hover {
        background-color: #ccc;
    }
    .cardsContainer > div {
        margin-left: 15px;
        margin-top: 15px;
    }
    #weaponsTitle {
        margin-top: 10%;
        margin-bottom: 10%;
        max-width: 90%;
        font-size: 35px;
    }
    .weapons {
        width: 150px;
        background-image: URL("..\\images\\scroll no bg 275x600.png");
        background-repeat: no-repeat;
        z-index: 1;
        background-size: contain;
        border-radius: 15px;
        margin-bottom: 20px;
        background-position: center;
        justify-content:space-evenly;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: 10px;
        order: 2;
    }
    .weaponsImg {
        height: 100px;
        margin-inline: auto;
    }
    .weapons > h3 {
        font-size: 20px;
        margin: 0px;
        width: 90%;
        align-self: center;
    }
    .weapons > p{
        margin: 0px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .weapons > button {
        margin: 0px;
        height: fit-content;
        width: fit-content;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .weapons > img {
        width: auto;
        height: 100px;
        margin: 0px;
        align-self: center;
        margin-bottom: 15px;
        margin-top: 20%;
    }
    .cart {
        justify-content: flex-start;
        width: auto;
        height: fit-content;
        order: 1;
        display:grid;
        grid-auto-flow: column;
        overscroll-behavior-inline: contain;
        grid-auto-columns: 300px;
        overflow-x: auto;
        gap: var(--size-2);
    }
    .cart > div {
        height: fit-content;
        width: 250px;
    }
    .cart > div > h5 {
        font-size: 25px;
    }
    .cart > div > h6 {
        font-size: 25px;
    }
    .cart-total {
        margin: auto;
        right: 0px;
        left: 15px;
        height: auto;

    }
    .cart-total > div > p {
        margin: auto;
    }
  }