* {
    font-family: 'Amatic SC', 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 2;
    color: #78111D;
    font-size: min(6vh,7vw);
    font-weight: 900;
    justify-content: center;
}
#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
.headerBG {
    background-image: URL("..\\images\\forge.webp");
    width: 100%;
    z-index: -1;
}
.topScroll {
    background-image: URL("..\\images\\header_scroll-removebg-preview 450x.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 50%;
  }
.h1 {
    position: relative;
    padding: .15em;
    color: #78111D;
    font-size: min(15vh,8vw);
    top: -20px;
}
.cart-total {
    position: fixed;
    bottom: -5%;
    right: 5%;
    width: 250px;
    z-index: 10000;
    text-align: center;
    background-image: URL("..\\images\\left_right_scroll-removebg-preview.png");
    background-repeat: no-repeat;
    line-height: 2.5;
    transform: scale(1.5);
}
h2, h3 {
    padding: 1em 0 .5em;
    font-size: 30px;
    text-align: center;
}
h5 {
    font-size: 45px;
    color:#FBF6F0;
    font-weight: bolder;
}
h4 {
    font-size: 50px;
    padding-top: 20px;
}
h6 {
    color: #FBF6F0;
    font-size: 35px;
}
p {
    padding-bottom: 1em;
    text-align: center;
}
h2 {
    font-size: 1.4em;
    line-height: 2;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: min(8vh,9vw);
}
#checkouttitle {
    padding: .25em 0 .25em;
    font-size: 75px;
}
#inventorytitle {
    font-size: min(8vh,5vw);
    font-weight: 900;
    text-shadow: #000 0px 8px 12px;
    font-family: 'Uncial Antiqua';
    color: #4e060e;
}
.products-container{
    max-width: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2378111d' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.cart-container {
    display: flex;
    height: fit-content;
    width:fit-content;
}
.checkout-container {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-image: URL("..\\images\\checkoutscroll-removebg-900.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(130vh,120vw);
    font-size: min(8vh,4vw);
}
.products, .cart{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: min(8vw, 12vw);
}
.products > div {
    padding: 50px;
    max-width: 150px;
    height: 500px;
    background-image: URL("..\\images\\scroll no bg 275x600.png");
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 20px;
    background-position: center;
}
.products > div:hover{
    cursor: pointer;
    box-shadow: #FBF6F0 0px 12px 24px;
    background-color: #FBF6F080;
}
.products > div img {
    width: auto;
    height: 225px;
    display: block;
    margin: 0 auto;
}

.products > div h3 {
    font-weight: 800;
    color: #111;
    position: relative;
}
.cartBorder {
    background-image: URL("..\\images\\header_scroll-removebg-preview.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: min(60vh,80vw);
    padding-bottom: 5%;
    margin-top: 40px;
    font-size: min(8vh,9vw);
}
.cart > div {

    border-radius: 25px;
    margin: .25em;
    padding: .5em;
    background-color: #111;
    max-width: 250px;
    max-height: auto;
    text-align: center;
    background-image: URL("..\\images\\backpack-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.checkout-container {
    position: relative;
    z-index: 1;
    max-width: 95%;
}
.checkout {
    margin-bottom: 4em;
}

button {
    color: #111;
    border: 3px solid #111;
    background: #78111D;
    padding: 20px;
    transition: .2s ease all;
    text-transform: uppercase;
    font-size: min(4vh,10vw);
    border-radius: 10px;
}
button.pay {
    background: #78111D;
    vertical-align: middle;
    margin: auto;
}
button:hover {
    background: #fff;
    color: #111;
    cursor: pointer;
    border: 3px solid #78111D;
}
.received {
    font-size: 1.5em;
    padding: 0.3em;
    border: 1px solid #ccc;
    vertical-align: middle
}
.swordline {
    height: 5px;
    background-image: linear-gradient(
        to right,
        transparent 10%,
        #DCC099 50%,
        transparent 90%
    );
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 center;
    z-index: 100;
}
input {
    border-color: 3px solid #111;
}